.about_page {
  padding: 100px 0 60px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
      color: #b4eeff;
      background-image: -webkit-linear-gradient(
        171deg,
        rgba(37, 0, 93, 1) 0%,
        rgba(102, 0, 255, 1) 61%,
        rgba(255, 184, 91, 1) 100%
      );
      margin-bottom: 32px;
      background-size: 200% 200%;
      background-clip: text;
      -webkit-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      animation: 6s infinite alternate gradientAnimation;
    }
    p {
      color: $white;
      line-height: 1.6;
      text-align: center;
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
