.about_page {
  padding: 100px 0 60px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
      color: #b4eeff;
      font-size: 52px;
      background-image: -webkit-linear-gradient(
        171deg,
        rgba(37, 0, 93, 1) 0%,
        rgba(102, 0, 255, 1) 61%,
        rgba(255, 184, 91, 1) 100%
      );
      margin-bottom: 32px;
      background-size: 200% 200%;
      background-clip: text;
      -webkit-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      animation: 6s infinite alternate gradientAnimation;
    }
    p {
      color: $white;
      line-height: 1.6;
      text-align: center;
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.whyus_section {
  padding: 60px 0;
  .statistic {
    padding: 24px 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    .counterUp {
      font-weight: bold;
      font-size: 100px;
      background: #a7a9ac10;
      background-size: contain;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-stroke: 1px #a7a9ac;
      font-family: "Manrope Alt", Sans-serif;
      @media (max-width: 768px) {
        font-size: 70px;
      }
    }
    h6 {
      font-weight: bold;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      max-height: 100px;
      color: $second;
      text-align: center;
    }
  }
  .info {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 16px;
    @media (max-width: 768px) {
      padding: 48px 16px;
    }
    h2 {
      color: $white;
      font-size: 32px;
      span {
        color: $second;
      }
    }
    .des {
      color: $white;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 18px;
      margin-top: 16px;
      li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        img {
          height: 32px;
        }
        h6 {
          margin: 0;
          color: $second;
        }
      }
    }
  }
  .lazyImg {
    position: relative;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border: 10px solid $white;
      width: 100%;
      height: 90%;
      transform: translateY(-50%);
    }
    .lazyDiv {
      height: 100%;
      margin: auto;
      .simpleParallax {
        height: 100%;
      }
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 85%;
      }
    }
  }
}

.lazyDiv {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #050913;
    transition: transform 1.2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(0%);
  }
  &.oppositeDir {
    &::after {
      right: unset;
      left: 0;
    }
  }
  .lazy {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  &.loaded {
    &::after {
      transform: translateX(100%);
    }
    &.oppositeDir {
      &::after {
        transform: translateX(-100%);
      }
    }
    &.down {
      &::after {
        transform: translateY(100%);
      }
    }
    &.up {
      &::after {
        transform: translateY(-100%);
      }
    }
  }
}

.our_team_section {
  padding: 60px 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto 60px;
    max-width: 660px;
    h2 {
      color: $white;
      text-align: center;
      text-wrap: balance;
      font-size: 32px;
      span {
        color: $second;
      }
    }
    p {
      color: $white;
      text-align: center;
    }
  }

  .team-member {
    width: 100%;
    background: rgb(255 255 255 / 4%);
    border: 1px solid #ffffff21;
    backdrop-filter: blur(6px);
    padding: 16px;
    border-radius: 12px;
    transition: $transition;
    &:hover {
      .img .social-media {
        height: 200px;
      }
    }
    .img {
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
      .social-media {
        transition: $transition;
        position: absolute;
        top: 8px;
        left: 8px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 0;
        overflow: hidden;
        a {
          width: 30px;
          height: 30px;
          border-radius: 4px;
          @include centerFlex();
          transition: $transition;
          backdrop-filter: blur(16px) saturate(180%);
          background-color: rgba(255, 255, 255, 0.1);
          i {
            font-size: 14px;
            color: $white;
          }
        }
      }
    }
    h6 {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      font-weight: 700;
      margin-top: 16px;
      margin-bottom: 0px;
      color: $white;
    }
    p {
      font-size: 14px;
      text-align: center;
      color: $white;
    }
  }
}
