.about_page {
  padding: 180px 0 60px;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
      color: #b4eeff;
      font-size: 52px;
      background-image: -webkit-linear-gradient(
        171deg,
        rgba(37, 0, 93, 1) 0%,
        rgba(102, 0, 255, 1) 61%,
        rgba(255, 184, 91, 1) 100%
      );
      background-size: 200% 200%;
      background-clip: text;
      -webkit-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      animation: 6s infinite alternate gradientAnimation;
    }
    p {
      color: $main;
      line-height: 1.6;
      text-align: center;
    }
  }
}

.download_assets {
  margin-top: 12px;
  padding: 12px 32px;
  width: fit-content;
  border-radius: 60px;
  color: $main;
  border: 1px solid $main;
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.whyus_section {
  padding: 60px 0;

  .tabs-wrapper {
    color: $main;
    border-radius: 12px;
    position: sticky;
    top: 120px;
    height: 400px;

    @media screen and (max-width: 991px) {
      display: none !important;
    }

    .tabs {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .tab {
        display: flex;
        padding: 6px 12px;
        border-radius: 12px;
        cursor: pointer;
        position: relative;

        transition: $transition;
        border: 1px solid transparent;
        font-size: 20px !important;
        font-weight: 600;
        color: $main;

        &.active {
          color: $second !important;
          font-size: 32px !important;
        }

        will-change: transform;
        &.active {
          color: $second !important;
          font-size: 32px !important;
          will-change: transform;
        }
      }
    }
  }

  .img-wrapper {
    height: 100%;
    display: flex;
    transition: $transition;
    position: sticky;
    top: 120px;

    @media screen and (max-width: 991px) {
      display: none !important;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
      transition: $transition;
    }

    .lazyImg {
      will-change: transform;
      backface-visibility: hidden;
      perspective: 1000px;

      img {
        will-change: transform;
        backface-visibility: hidden;
      }
    }
  }

  .tabs-content-wrapper {
    flex: 1 0;

    gap: 32px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
      display: none;
    }

    @media screen and (min-width: 991px) {
      // mask-image: linear-gradient(
      //   180deg,
      //   rgba(0, 0, 0, 0) 7%,
      //   #000 20% 70%,
      //   rgba(0, 0, 0, 0) 93%
      // );
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }

    .content-card {
      will-change: transform, opacity;
      transform-origin: center center;
      backface-visibility: hidden;
      perspective: 1000px;
      cursor: pointer;
      transition: opacity 0.6s ease, transform 0.6s ease;
      &.active {
        z-index: 2;
      }
    }
  }

  .statistic {
    padding: 24px 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    .counterUp {
      font-weight: bold;
      font-size: 100px;
      background: #a7a9ac10;
      background-size: contain;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-stroke: 1px #a7a9ac;
      font-family: "Manrope Alt", Sans-serif;
      @media (max-width: 768px) {
        font-size: 70px;
      }
    }
    h6 {
      font-weight: bold;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      max-height: 100px;
      color: $second;
      text-align: center;
    }
  }

  .info,
  .content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 16px !important;
    transition: $transition;
    border-radius: 12px;

    @media screen and (min-width: 992px) {
      filter: grayscale(0.5);
      opacity: 0.3;
      &:hover,
      &.active {
        filter: grayscale(0);
        opacity: 1;
        background-color: $second10;
      }
    }

    p {
      margin: 0;
    }

    h2 {
      color: $main;
      font-size: 32px;
      margin: 0;
      line-height: 1;
      span {
        color: $second;
      }
    }
    .des {
      color: $main;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 18px;
      margin-top: 16px;
      li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        img {
          height: 32px;
        }
        h6 {
          margin: 0;
          color: $second;
        }
      }
    }
  }
}

.lazyImg {
  position: relative;
  height: 100%;
  .lazyDiv {
    height: 100%;
    margin: auto;
    .simpleParallax {
      height: 100%;
    }
  }
  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 100%;
    border-radius: 16px;
  }
}

.lazyDiv {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #ffffff;
    transition: transform 1.2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(0%);
  }
  &.oppositeDir {
    &::after {
      right: unset;
      left: 0;
    }
  }
  .lazy {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  &.loaded {
    &::after {
      transform: translateX(100%);
    }
    &.oppositeDir {
      &::after {
        transform: translateX(-100%);
      }
    }
    &.down {
      &::after {
        transform: translateY(100%);
      }
    }
    &.up {
      &::after {
        transform: translateY(-100%);
      }
    }
  }
}

.our_team_section {
  padding: 60px 0 60px;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto 60px;
    max-width: 660px;
    h2 {
      color: $main;
      text-align: center;
      text-wrap: balance;
      font-size: 32px;
      span {
        color: $second;
      }
    }
    p {
      color: $main;
      text-align: center;
    }
  }

  .team-member {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #ffffff21;
    backdrop-filter: blur(6px);
    padding: 16px;
    border-radius: 12px;
    transition: $transition;
    .img {
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }
    h6 {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      font-weight: 700;
      margin-top: 16px;
      margin-bottom: 0px;
      color: $main;
    }
    p {
      font-size: 14px;
      text-align: center;
      color: $main;
    }
    .social-media {
      transition: $transition;
      display: flex;
      justify-content: center;
      gap: 12px;
      a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        @include centerFlex();
        transition: $transition;
        background-color: $white;
        i {
          font-size: 14px;
          color: $main;
        }
      }
    }
  }

  .swiper-wrapper {
    justify-content: center !important;
    @media screen and (max-width: 576px) {
      justify-content: unset;
    }
  }
}
