.contact_section {
  padding: 120px 0 60px;
  .contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-inline-end: 80px;
    gap: 12px;
    @media screen and (max-width: 768px) {
      padding-inline-end: 0;
    }
    span {
      padding: 8px 16px;
      color: $white;
      background: $second;
      width: fit-content;
      border-radius: 80px;
    }
    h1 {
      color: $main;
      font-size: 42px;
      margin-bottom: 32px;
      @media screen and (max-width: 576px) {
        font-size: 32px;
        margin-bottom: 24px;
      }
    }
    .blocks {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      .block {
        display: flex;
        flex-direction: column;
        gap: 12px;
        a {
          color: $main;
          transition: $transition;
          &:hover {
            color: $second;
          }
        }
        h6 {
          margin-top: 24px;
          color: $main;
        }
        .socials {
          display: flex;
          align-items: center;
          gap: 24px;
        }
      }
    }
  }
  .contact_form {
    padding: 48px 32px;
    box-shadow: rgba(99, 99, 99, 0.074) 0px 2px 8px 0px;
    backdrop-filter: blur(6px);
    border-radius: 24px;
    @media screen and (max-width: 576px) {
      margin-top: 32px;
      padding: 48px 16px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 48px;
      .inputfield {
        width: 100%;
        padding: 0 16px;
        position: relative;
        display: flex;
        flex-direction: column;
        label {
          position: absolute;
          font-size: 14px;
          color: $inputHint;
          left: 16px;
          transform: translateY(-50%);
          top: 50%;
          font-weight: 500;
          transition: $transition;
          i {
            margin-right: 4px;
          }
          cursor: auto;
          &.message-label {
            top: 20%;
          }
          &.h {
            top: -4px;
            color: $main;
          }
        }
        input,
        textarea {
          width: 100%;
          height: 45px;
          border: none;
          outline: none;
          background: none;
          color: $main;
          &:focus + span::after {
            width: calc(100% - 32px);
          }
        }
        textarea {
          padding: 16px 0;
          height: 130px;
        }
        .highlight {
          width: 100%;
          height: 1px;
          background: $inputHint;
          &::after {
            content: "";
            width: 0;
            transition: $transition;
            left: 50%;
            height: 1px;
            background: $main;
            position: absolute;
            transform: translate(-50%);
          }
        }
      }
      button {
        background: $main;
        color: $white;
        display: flex;
        align-items: center;
        gap: 4px;
        width: fit-content;
        align-self: center;
        padding: 12px 32px;
        border-radius: 90px;
        transition: $transition;
        span {
          transition: $transition;
          width: 16px;
          opacity: 1;
          color: $white;
          @include centerFlex();
          &:last-child {
            opacity: 0;
            width: 0;
            overflow: hidden;
          }
        }
        &:hover {
          background: $second;
          color: $white;
          span {
            &:first-child {
              width: 0;
              opacity: 0;
              overflow: hidden;
            }
            &:last-child {
              width: 12px;
              color: $white;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.map_section {
  padding: 32px 0;
  @media screen and (max-width: 576px) {
    padding: 0;
  }
  iframe {
    width: 100%;
    height: 60vh;
    border-radius: 16px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
      hue-rotate(0deg);
  }
}
