footer {
  padding-top: 60px;
  background: #e5eaff;
  position: relative;
  background-image: linear-gradient(to top, #e5eaffcf, #ffffff),
    url(/images/footer.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  .news_letter {
    padding: 60px 0;
    border-bottom: 1px solid #dedede;
    p {
      color: $main;
      text-align: center;
      font-size: 14px;
      margin-bottom: 8px;
      span {
        color: $second;
      }
    }
    h3 {
      color: $main;
      margin-bottom: 24px;
      font-size: 24px;
      text-align: center;
    }
    form {
      width: min(100%, 600px);
      margin: 0 auto;
      display: flex;
      gap: 12px;
      border-radius: 100px;
      padding: 4px;
      padding-inline-start: 24px;
      border: 1px solid $main;
      input {
        @include clearInput();
        width: 100%;
        color: $main;
      }
      button {
        padding: 12px 24px;
        background: $main;
        color: $white;
        border-radius: 100px;
        min-width: 120px;
        transition: $transition;
        &:hover {
          background: $second;
          color: $white;
        }
      }
    }
  }
  .logo {
    display: flex;
    gap: 12px;
    span {
      width: 1px;
      display: block;
      background: $main;
    }
    img {
      height: 60px;
      object-fit: contain;
    }
  }
  .social_media {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 42px;
    a {
      width: 40px;
      height: 40px;
      @include centerFlex();
      border: 1px solid #2a2e36;
      color: $main;
      font-size: 14px;
      border-radius: 50%;
      transition: $transition;
      &:hover {
        background: $second;
        border-color: $second;
        color: $white;
        transform: translateY(-4px);
      }
    }
  }
  .copy_rights {
    margin-top: 32px;
    padding: 16px 0;
    border-top: 1px solid #dedede;
    @include space-between();
    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      gap: 12px;
    }
    h6 {
      font-size: 16x;
      color: $main;
    }
    a {
      color: $main;
      transition: $transition;
      font-size: 16px;
      &:hover {
        color: $second;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
  .footer_title {
    color: $main;
    margin-bottom: 32px;
    font-size: 28px;
    position: relative;
    &::after {
      content: "";
      height: 1px;
      width: 100px;
      background: radial-gradient(
        90% 100% at 0% 50%,
        $second 0%,
        rgba(238, 238, 238, 0) 100%
      );
      position: absolute;
      bottom: -12px;
      left: 0;
    }
    @media screen and (max-width: 576px) {
      margin-top: 32px;
    }
  }
  .footer_links {
    display: flex;
    flex-wrap: wrap;
    .footer_link {
      min-width: 170px;
    }
  }
  .footer_link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $main;
    transition: $transition;
    margin-bottom: 16px;
    &:hover {
      color: $second;
    }
  }
}
