footer {
  padding-top: 60px;
  background: #e5eaff;
  position: relative;
  background-image: url("/images/bg_5.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  .news_letter {
    padding: 60px 0;
    p {
      color: $white;
      text-align: center;
      font-size: 14px;
      margin-bottom: 8px;
      span {
        color: $second;
      }
    }
    h3 {
      color: $white;
      margin-bottom: 24px;
      font-size: 24px;
      text-align: center;
    }
    form {
      width: min(100%, 600px);
      margin: 0 auto;
      display: flex;
      gap: 12px;
      border-radius: 100px;
      padding: 4px;
      padding-inline-start: 24px;
      border: 1px solid $white;
      input {
        @include clearInput();
        width: 100%;
        color: $white;
      }
      button {
        padding: 12px 24px;
        background: $white;
        color: $main;
        border-radius: 100px;
        transition: $transition;
        &:hover {
          background: $second;
          color: $white;
        }
      }
    }
  }
  .copy_rights {
    padding: 16px 0;
    border-top: 1px solid #2a2e36;
    @include space-between();
    h6 {
      font-size: 16x;
      color: $white;
    }
    a {
      color: $white;
      transition: $transition;
      font-size: 16px;
      &:hover {
        color: $second;
      }
    }
    .links{
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
