header {
  width: 100%;
  position: fixed;
  padding: 16px 0;
  top: 0;
  left: 0;
  z-index: 999;
  transition: $transition;
  &.active {
    background: $white;
  }
  nav {
    display: flex;
    align-items: center;
    .logo {
      flex: 1;
      img {
        height: 50px;
        object-fit: contain;
      }
    }
    .nav_links {
      flex: 3;
      height: 50px;
      @include centerFlex();
      .nav_link {
        padding: 0 16px;
        a {
          color: $main;
          transition: $transition;
          &.active,
          &:hover {
            color: $second;
          }
        }
      }
      @media screen and (max-width: 992px) {
        padding: 48px 0;
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0;
        background: #fff;
        z-index: 9999;
        left: -50%;
        flex-direction: column;
        justify-content: flex-start;
        transition: $transition;
        gap: 25px;
        li {
          width: 100%;
          padding: 0 32px !important;
        }
        a {
          text-align: start;
        }
        &.active {
          left: 0;
        }
      }
    }
    .actions {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 12px;
      .customBtn {
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
      .dropdown-toggle {
        background: transparent;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: $main;
        line-height: normal;
        i {
          color: $main;
        }
        &:focus {
          background: transparent;
        }
      }
      .menu {
        flex-direction: column;
        padding: 16px 24px !important;
        border-radius: 16px !important;
        top: 20px !important;
        box-shadow: $shadow;
        border: 0 !important;
        gap: 12px;
        --bs-dropdown-min-width: unset !important;
        img {
          height: 22px;
          width: 22px;
          border-radius: 50%;
          object-fit: cover;
        }
        .inner_menu {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
        a,
        button {
          display: flex;
          font-size: 12px;
          align-items: center;
          gap: 8px;
          color: $main;
        }
      }
      .menu_btn {
        display: none;
        background: transparent;
        position: relative;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        padding: 0;
        align-items: center;
        justify-content: center;
        border: 1px solid $main;
        line-height: normal;
        overflow: hidden;
        isolation: isolate;
        transition: $transition;
        i {
          z-index: 1;
        }
        @media screen and (max-width: 992px) {
          display: flex;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -38px;
          left: 0;
          width: 38px;
          height: 38px;
          border-radius: 50%;
          background: $main;
          transition: $transition;
          z-index: 0;
        }
        &:hover {
          color: $white;
          border-color: transparent;
          &::after {
            bottom: 0;
          }
        }
      }
    }
  }
}
