header {
  width: 100%;
  position: fixed;
  padding: 16px 0;
  top: 0;
  left: 0;
  z-index: 999;
  transition: $transition;
  &.active {
    background: #ffffff80;
    backdrop-filter: blur(10px);
  }
  nav {
    display: flex;
    align-items: center;
    .logo {
      flex: 1;
      img {
        height: 50px;
        object-fit: contain;
      }
    }
    .nav_links {
      flex: 3;
      height: 50px;
      @include centerFlex();
      .nav_link {
        padding: 0 16px;
        a {
          color: $main;
          transition: $transition;
          &.active,
          &:hover {
            color: $second !important;
          }
        }
        &.hide_lg {
          display: none;
          margin-bottom: 36px;
          img {
            height: 50px;
          }
          @media screen and (max-width: 992px) {
            display: block;
          }
        }
      }
      .dropdown {
        display: flex;
      }
      @media screen and (max-width: 992px) {
        opacity: 0;
        padding: 16px 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        background: #fff;
        z-index: 9999;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: $transition;
        gap: 25px;
        li {
          width: 100%;
          padding: 0 32px !important;
          font-size: 20px;
          font-weight: 600;
          opacity: 0;
          transform: translateX(-20px);
          transition: opacity 0.3s ease, transform 0.3s ease;
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              --i: #{$i};
            }
          }
          .dropdown-toggle {
            font-size: 20px;
            font-weight: 600;
          }
          .menu {
            position: static !important;
            transform: translate3d(0, 12px, 0) !important;
          }
          .dropdown {
            display: flex;
            align-items: start;
            flex-direction: column;
          }
        }
        a {
          text-align: start;
        }
        .menu_btn {
          position: absolute;
          top: 16px;
          right: 16px;
        }

        &.active {
          left: 0;
          opacity: 1;
          li {
            animation: fadeIn 0.5s forwards;
            animation-delay: calc(0.3s + var(--i) * 0.05s);
          }
        }

        &.closing li {
          animation: fadeOut 0.3s forwards;
        }
      }
      .dropdown-toggle {
        background: transparent;
        padding: 0;
        line-height: normal;
        color: $main;
        border: 0;
        &:focus {
          background: transparent;
        }
      }
      .menu {
        flex-direction: column;
        padding: 16px 24px !important;
        top: 20px !important;
        box-shadow: $shadow;
        border: 0 !important;
        gap: 12px;
        --bs-dropdown-min-width: unset !important;
        img {
          height: 22px;
          width: 22px;
          border-radius: 50%;
          object-fit: cover;
        }
        .inner_menu {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
        a,
        button {
          display: flex;
          font-size: 14px;
          align-items: center;
          white-space: nowrap;
          gap: 8px;
          color: $main;
        }
      }
    }
    .actions {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 12px;
      .customBtn {
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
      .dropdown-toggle {
        background: transparent;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: $main;
        line-height: normal;
        i {
          color: $main;
        }
        &:focus {
          background: transparent;
        }
      }
      .menu {
        flex-direction: column;
        padding: 16px 24px !important;
        top: 20px !important;
        box-shadow: $shadow;
        border: 0 !important;
        gap: 12px;
        --bs-dropdown-min-width: unset !important;
        img {
          height: 22px;
          width: 22px;
          border-radius: 50%;
          object-fit: cover;
        }
        .inner_menu {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
        a,
        button {
          display: flex;
          font-size: 12px;
          align-items: center;
          white-space: nowrap !important;
          gap: 8px;
          color: $main;
        }
      }
    }
    .menu_btn {
      display: none;
      background: transparent;
      position: relative;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      padding: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid $main;
      line-height: normal;
      overflow: hidden;
      isolation: isolate;
      transition: $transition;
      i {
        z-index: 1;
      }
      @media screen and (max-width: 992px) {
        display: flex;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -38px;
        left: 0;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: $main;
        transition: $transition;
        z-index: 0;
      }
      &:hover {
        color: $white;
        border-color: transparent;
        &::after {
          bottom: 0;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
