@keyframes astroRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes windowRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes ballsMove {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.home_section {
  min-height: 100dvh;
  position: relative;
  padding-top: 100px;

  @media screen and (max-width: 576px) {
    overflow-x: hidden !important;
    padding-top: 140px;
  }

  .pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .imgs_container {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 600px;

    @media screen and (max-width: 576px) {
      min-height: 400px;
    }

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      transition: 800ms cubic-bezier(0.22, 0.68, 0, 1);
    }

    .astro {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transform-origin: bottom right;
      animation: astroRotate 4s infinite alternate;
    }

    .window {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: bottom left;
      animation: windowRotate 4s infinite alternate;
    }

    .balls {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: ballsMove 4s infinite alternate;
    }
  }

  .content {
    height: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    h1 {
      font-weight: 600;
      font-size: 48px;
      color: $main;
      @media screen and (max-width: 576px) {
        font-size: 42px;
      }
      span {
        color: $second;
      }
      &:first-of-type {
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }
      }
    }
    p {
      padding-inline-end: 12px;
    }

    .fade-text {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .fade-in {
      opacity: 1;
    }

    .fade-out {
      opacity: 0;
    }

    .customBtn {
      padding: 16px 32px;
    }
  }
}

.about_section {
  padding: 60px 0;
  position: relative;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 7%,
    #000 20% 70%,
    rgba(0, 0, 0, 0) 93%
  );
  .swiper-wrapper {
    transition-timing-function: linear;
    .swiper-slide {
      height: auto;
    }
  }
  h6 {
    color: $main;
    text-wrap: balance;
  }
  .about_card {
    padding: 16px;
    border-radius: 16px;
    height: 100%;
    border: 1px solid $white;
    .content {
      display: flex;
      align-items: center;
      gap: 16px;
      .icon {
        min-width: 80px;
        max-width: 80px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h2 {
        color: $main;
        font-size: 24px;
        margin: 0;
      }
    }
    p {
      margin-top: 16px;
      text-wrap: balance;
      color: $main;
    }
  }
}

.services_section {
  padding: 60px 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    max-width: 660px;
    h2 {
      color: $white;
      text-align: center;
      text-wrap: balance;
      font-size: 32px;
      span {
        color: $second;
      }
    }
    p {
      color: $white;
      text-align: center;
    }
  }
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .accordion-item {
      border-radius: 16px;
      overflow: hidden;
      background: rgb(255 255 255 / 4%);
      backdrop-filter: blur(6px);
      border: 1px solid #ffffff21;
      .accordion-button {
        box-shadow: none !important;
        background: transparent !important;
        color: $white !important;
        &::after {
          background: #fff;
          height: 16px;
          width: 1px;
          right: 28px;
          position: absolute;
          transition: $transition;
        }
        &::before {
          content: "";
          background: #fff;
          height: 1px;
          width: 16px;
          margin-left: auto;
          flex-shrink: 0;
          right: 20px;
          position: absolute;
        }
        &:not(.collapsed)::after {
          width: 16px !important;
          height: 1px !important;
          right: 20px !important;
        }
      }
      .accordion-body {
        background: transparent !important;
        color: $white !important;
      }
    }
  }
  .img {
    width: 100%;
    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.linkedin_section {
  padding: 60px 0;
  .header {
    @include space-between();
    h2 {
      color: $white;
      text-align: center;
      text-wrap: balance;
      font-size: 32px;
      span {
        color: $second;
      }
    }

    a {
      background: $second;
      color: $white;
      padding: 8px 24px;
      border-radius: 50px;
    }
  }
  .linkedin_swiper {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
    .feed {
      aspect-ratio: 1 / 1;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;
      position: relative;
      img,
      video {
        width: 100%;
        height: 100%;
        transition: $transition;
        object-fit: cover;
      }
      .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffffb8;
        backdrop-filter: blur(2px);
        opacity: 0;
        transition: $transition;
        a {
          @include centerFlex();
          width: 100%;
          height: 100%;
        }
        i {
          color: $main;
          font-size: 20px;
        }
      }
      &:hover {
        .link {
          opacity: 1;
        }
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.testimonials_section {
  padding: 60px 0;
  .header {
    @include space-between();
    h2 {
      color: $white;
      text-align: center;
      text-wrap: balance;
      font-size: 32px;
      span {
        color: $second;
      }
    }
    .swiper_navigation {
      display: flex;
      align-items: center;
      gap: 12px;
      button {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid $white;
        color: $white;
        transition: $transition;
        &:hover {
          background: $second;
          border-color: $second;
          color: $white;
        }
      }
    }
  }
  .call_wrapper {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-image: url("/images/call.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 32px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 24px;
    span {
      color: $white;
    }
    h4 {
      font-size: 32px;
      color: $white;
    }
    .customBtn {
      border-color: $white;
      color: $white;
      border-radius: 100px;
      &::after {
        background: $white;
      }
      &:hover {
        color: $second;
      }
    }
  }
  .swiper-slide {
    height: auto;
  }
  .feedback_card {
    border-radius: 16px;
    padding: 32px;
    background: rgb(255 255 255 / 4%);
    backdrop-filter: blur(6px);
    border: 1px solid #ffffff21;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 32px;
    .rate {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $second;
    }
    p {
      color: $white;
    }
    .user {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: auto;
      img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        object-fit: cover;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        h4 {
          font-size: 18px;
          color: $white;
        }
        h6 {
          color: $white;
          font-size: 14px;
        }
      }
    }
  }
}

.actions_section {
  padding: 60px 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    max-width: 660px;
    h2 {
      color: $white;
      text-align: center;
      text-wrap: balance;
      font-size: 32px;
      span {
        color: $second;
      }
    }
    p {
      color: $white;
      text-align: center;
    }
  }
  .program_card {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .program_link {
      position: absolute;
      bottom: 12px;
      left: 12px;
      right: 12px;
      padding: 16px;
      border-radius: 12px;
      background: $white;
      h6 {
        color: $main;
        margin: 0;
        font-size: 20px;
      }
      p {
        padding-top: 8px;
        font-size: 14px;
        color: $text;
        margin: 0;
      }
      .hiddenText {
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
      }
    }
    &:hover {
      .hiddenText {
        max-height: 10rem;
      }
    }
  }
}
