.services_page {
  padding: 100px 0;
  position: relative;
  .img {
    width: 100%;
    @include centerFlex();
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .swiper-slide {
    height: auto;
    width: auto;
  }
  .sercvice_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    h2 {
      color: $second;
      margin-bottom: 24px;
    }
    p {
      color: $main;
      font-size: 18px;
    }
    ul {
      margin-top: 12px;
      padding-left: 16px;
      list-style: disc;
      color: $main;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.thumbs {
  width: 100%;
  position: sticky;
  bottom: 0;
  align-items: center;
  display: flex;
  gap: 24px;
  .swiper_container {
    z-index: 99;
    padding: 12px;
    border-radius: 12px;
    background: #fafafa;
    button {
      width: 100%;
      height: 50px;
      gap: 6px;
      transition: $transition;
      border-radius: 12px;
      padding: 0 16px;
      @include centerFlex();
      user-select: none;
      @include clearInput();
    }
  }

  .swiper-wrapper {
    width: fit-content;
  }
  .swiper-slide-thumb-active {
    button {
      background: $second;
      color: $white;
    }
  }
}
