.services_page {
  padding: 100px 0;
  position: relative;
  .img {
    width: 100%;
    @include centerFlex();
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .swiper-slide {
    height: auto;
    width: auto;
  }
  .sercvice_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    h2 {
      color: $second;
      margin-bottom: 24px;
    }
    p {
      color: $main;
      font-size: 18px;
    }
    ul {
      margin-top: 12px;
      padding-left: 16px;
      list-style: disc;
      color: $main;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.slider_container {
  position: relative;
  .controls {
    display: flex;
    gap: 12px;
    padding: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .prev,
  .next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    @include centerFlex();
    @include clearInput();
    transition: $transition;
    background-color: white;
    &.swiper-button-disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &:hover {
      background: $second;
      color: $white;
    }

    i {
      font-size: 14px;
    }
  }
}

.thumbs {
  width: 100%;
  // position: sticky;
  // bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  z-index: 999;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main;
    font-size: 16px;
    border: 1px solid $main;
    height: 50px;
    gap: 6px;
    white-space: nowrap;
    transition: $transition;
    border-radius: 12px;
    padding: 0 16px;
    @include centerFlex();
    user-select: none;
    @include clearInput();
    &.active {
      background: $second;
      color: $white;
      border-color: $second;
    }
  }
}
