@import "./config";

body {
  position: relative;
  overflow-x: hidden;
  background: $white;
  transition: background 0.3s ease-in-out;
  font-family: "outfit", sans-serif;

  main {
    min-height: 100vh;
  }

  .sectionHeader {
    width: 100%;
    height: 45vh;
    padding: 3rem 0;
    background-image: url("/images/Group-min.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .page {
      flex-direction: column;
      gap: 16px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      .links {
        display: flex;
        align-items: center;
        gap: 8px;
        a {
          color: $white;
          text-transform: capitalize;
          &:last-child {
            color: #a0a0a0;
            pointer-events: none;
          }
        }
        span {
          color: $white;
          font-size: 16px;
        }
      }
      h2 {
        font-size: 42px;
        color: $main;
        text-transform: capitalize;
      }
    }
  }

  @import "./about";
  @import "./contact";
  @import "./footer";
  @import "./form-ui";
  @import "./header";
  @import "./home";
  @import "./insights";
  @import "./join";
  @import "./media";
  @import "./programs";
  @import "./projects";
  @import "./services";

  &.ar {
    direction: rtl;
    font-family: "baloo" !important;
    .home_section .content .customBtn i {
      transform: scale(-1);
    }
    .accordion-button::after {
      margin-left: unset;
      margin-right: auto;
    }
    .testimonials_section .header .swiper_navigation {
      flex-direction: row-reverse;
    }
    footer .footer_title::after {
      left: unset;
      right: 0;
      background: radial-gradient(
        90% 100% at 100% 50%,
        #7e98fd 0%,
        rgba(238, 238, 238, 0) 100%
      );
    }
    .contact_section .contact_form form .inputfield label {
      left: unset;
      right: 16px;
    }
    .contact_section .contact_form form button span:last-child i {
      transform: scale(-1);
    }
    .projects_page .project_card .title::after {
      left: unset;
      right: 0;
      background: radial-gradient(
        90% 100% at 100% 50%,
        #7e98fd 0%,
        rgba(238, 238, 238, 0) 100%
      );
    }
  }
}

.intro_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: $white;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.3s ease-in-out;
  transition-behavior: allow-discrete;
  &.hide {
    opacity: 0;
    display: none;
  }
}

@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(10);
  }
}

.bg_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -10;
  object-fit: cover;
  filter: brightness(1.1) contrast(100%) opacity(0.6);
}
