@font-face {
  font-family: "outfit";
  src: url("../webfonts/outfit.ttf");
}
@font-face {
  font-family: "baloo";
  src: url("../webfonts/baloo.ttf");
}
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-in-out;
}

button,
input {
  border: none;
  background-color: unset;
  color: #000;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  box-shadow: none !important;
  background-image: url("/images/icons/close.svg");
  margin-inline-start: auto !important;
  margin-inline-end: 0 !important;
}
.modal-header h6 {
  color: #0f2133;
  margin-bottom: 0;
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-family: "suply-mono", sans-serif;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
.closeModal {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
}
.closeModal i {
  color: #0f2133;
}

.customBtn {
  border: none;
  outline: none;
  background: none;
  isolation: isolate;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid #0f2133;
  font-size: 16px;
  color: #0f2133;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.customBtn::after {
  position: absolute;
  content: "";
  height: 1000px;
  width: 0;
  right: 50%;
  transition: 0.3s ease-in-out;
  background: #0f2133;
  transform: rotate(-25deg);
  z-index: -1;
}
.customBtn:hover {
  color: #fff;
  border-color: #0f2133;
}
.customBtn:hover::after {
  width: 110%;
  right: -10px;
}

.tableLoader {
  min-height: 548px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tableLoader .loader--style8 {
  width: 40px;
  height: 40px;
}
.tableLoader svg path,
.tableLoader svg rect {
  stroke: #0f2133;
}

.back-to-top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 88px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
}
.back-to-top.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.back-to-top::before {
  position: absolute;
  font-family: "Font Awesome 6 Pro";
  content: "\f062";
  text-align: center;
  line-height: 45px;
  opacity: 1;
  height: 45px;
  width: 45px;
  font-size: 16px;
  font-weight: 600;
  color: #0f2133;
}
.back-to-top svg.progress-circle path {
  stroke: #0f2133;
  stroke-width: 4;
}

.form-check-input {
  cursor: pointer;
  box-shadow: none !important;
}
.form-check-input:focus {
  border-color: var(--bs-border-color);
}
.form-check-input:checked {
  background-color: #0f2133;
  border-color: #0f2133;
}

.dropdown-toggle::after {
  display: none;
}

.row {
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  background: #e5eaff;
  transition: background 0.3s ease-in-out;
  font-family: "outfit", sans-serif;
}
body main {
  min-height: 100vh;
}
body.dark_theme {
  background: #050913;
}
body.dark_theme .about_section h6 {
  color: #fff !important;
}
body.dark_theme .about_section .about_card {
  border-color: rgba(255, 255, 255, 0.1294117647);
}
body.dark_theme .about_section .about_card h2,
body.dark_theme .about_section .about_card p {
  color: #fff !important;
}
body header {
  width: 100%;
  position: fixed;
  padding: 16px 0;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.3s ease-in-out;
}
body header.active {
  background: #fff;
}
body header nav {
  display: flex;
  align-items: center;
}
body header nav .logo {
  flex: 1;
}
body header nav .logo img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
body header nav .nav_links {
  flex: 3;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .nav_links .nav_link {
  padding: 0 16px;
}
body header nav .nav_links .nav_link a {
  color: #0f2133;
  transition: 0.3s ease-in-out;
}
body header nav .nav_links .nav_link a.active, body header nav .nav_links .nav_link a:hover {
  color: #7e98fd;
}
body header nav .nav_links .nav_link.hide_lg {
  display: none;
  margin-bottom: 36px;
}
body header nav .nav_links .nav_link.hide_lg img {
  height: 50px;
}
@media screen and (max-width: 992px) {
  body header nav .nav_links .nav_link.hide_lg {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  body header nav .nav_links {
    opacity: 0;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: #fff;
    z-index: 9999;
    left: -100%;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;
    gap: 25px;
  }
  body header nav .nav_links li {
    width: 100%;
    padding: 0 32px !important;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  body header nav .nav_links li:nth-child(1) {
    --i: 1;
  }
  body header nav .nav_links li:nth-child(2) {
    --i: 2;
  }
  body header nav .nav_links li:nth-child(3) {
    --i: 3;
  }
  body header nav .nav_links li:nth-child(4) {
    --i: 4;
  }
  body header nav .nav_links li:nth-child(5) {
    --i: 5;
  }
  body header nav .nav_links li:nth-child(6) {
    --i: 6;
  }
  body header nav .nav_links li:nth-child(7) {
    --i: 7;
  }
  body header nav .nav_links li:nth-child(8) {
    --i: 8;
  }
  body header nav .nav_links li:nth-child(9) {
    --i: 9;
  }
  body header nav .nav_links li:nth-child(10) {
    --i: 10;
  }
  body header nav .nav_links a {
    text-align: start;
  }
  body header nav .nav_links .menu_btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  body header nav .nav_links.active {
    left: 0;
    opacity: 1;
  }
  body header nav .nav_links.active li {
    animation: fadeIn 0.5s forwards;
    animation-delay: calc(0.3s + var(--i) * 0.05s);
  }
  body header nav .nav_links.closing li {
    animation: fadeOut 0.3s forwards;
  }
}
body header nav .actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}
@media screen and (max-width: 992px) {
  body header nav .actions .customBtn {
    display: none;
  }
}
body header nav .actions .dropdown-toggle {
  background: transparent;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #0f2133;
  line-height: normal;
}
body header nav .actions .dropdown-toggle i {
  color: #0f2133;
}
body header nav .actions .dropdown-toggle:focus {
  background: transparent;
}
body header nav .actions .menu {
  flex-direction: column;
  padding: 16px 24px !important;
  border-radius: 16px !important;
  top: 20px !important;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
  border: 0 !important;
  gap: 12px;
  --bs-dropdown-min-width: unset !important;
}
body header nav .actions .menu img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body header nav .actions .menu .inner_menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body header nav .actions .menu a,
body header nav .actions .menu button {
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 8px;
  color: #0f2133;
}
body header nav .menu_btn {
  display: none;
  background: transparent;
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #0f2133;
  line-height: normal;
  overflow: hidden;
  isolation: isolate;
  transition: 0.3s ease-in-out;
}
body header nav .menu_btn i {
  z-index: 1;
}
@media screen and (max-width: 992px) {
  body header nav .menu_btn {
    display: flex;
  }
}
body header nav .menu_btn::after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #0f2133;
  transition: 0.3s ease-in-out;
  z-index: 0;
}
body header nav .menu_btn:hover {
  color: #fff;
  border-color: transparent;
}
body header nav .menu_btn:hover::after {
  bottom: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
@keyframes astroRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes windowRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes ballsMove {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
body .home_section {
  min-height: 100dvh;
  position: relative;
  padding-top: 100px;
}
@media screen and (max-width: 576px) {
  body .home_section {
    overflow-x: hidden !important;
    padding-top: 140px;
  }
}
body .home_section .pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .home_section .pattern img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .home_section .imgs_container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 600px;
}
@media screen and (max-width: 576px) {
  body .home_section .imgs_container {
    min-height: 400px;
  }
}
body .home_section .imgs_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transition: 800ms cubic-bezier(0.22, 0.68, 0, 1);
}
body .home_section .imgs_container .astro {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  animation: astroRotate 4s infinite alternate;
}
body .home_section .imgs_container .window {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
  animation: windowRotate 4s infinite alternate;
}
body .home_section .imgs_container .balls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: ballsMove 4s infinite alternate;
}
body .home_section .content {
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
body .home_section .content h1 {
  font-weight: 600;
  font-size: 48px;
  color: #0f2133;
}
@media screen and (max-width: 576px) {
  body .home_section .content h1 {
    font-size: 42px;
  }
}
body .home_section .content h1 span {
  color: #7e98fd;
}
@media screen and (max-width: 768px) {
  body .home_section .content h1:first-of-type {
    display: flex;
    flex-direction: column;
  }
}
body .home_section .content p {
  padding-inline-end: 12px;
}
body .home_section .content .fade-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
body .home_section .content .fade-in {
  opacity: 1;
}
body .home_section .content .fade-out {
  opacity: 0;
}
body .home_section .content .customBtn {
  padding: 16px 32px;
}
body .about_section {
  padding: 60px 0;
  position: relative;
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 7%, #000 20% 70%, rgba(0, 0, 0, 0) 93%);
          mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 7%, #000 20% 70%, rgba(0, 0, 0, 0) 93%);
}
body .about_section .swiper-wrapper {
  transition-timing-function: linear;
}
body .about_section .swiper-wrapper .swiper-slide {
  height: auto;
}
body .about_section h6 {
  color: #0f2133;
  text-wrap: balance;
}
body .about_section .about_card {
  padding: 16px;
  border-radius: 16px;
  height: 100%;
  border: 1px solid #fff;
}
body .about_section .about_card .content {
  display: flex;
  align-items: center;
  gap: 16px;
}
body .about_section .about_card .content .icon {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
}
body .about_section .about_card .content .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .about_section .about_card .content h2 {
  color: #0f2133;
  font-size: 24px;
  margin: 0;
}
body .about_section .about_card p {
  margin-top: 16px;
  text-wrap: balance;
  color: #0f2133;
}
body .services_section {
  padding: 60px 0;
}
body .services_section .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  max-width: 660px;
}
body .services_section .header h2 {
  color: #fff;
  text-align: center;
  text-wrap: balance;
  font-size: 32px;
}
body .services_section .header h2 span {
  color: #7e98fd;
}
body .services_section .header p {
  color: #fff;
  text-align: center;
}
body .services_section .accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .services_section .accordion .accordion-item {
  border-radius: 16px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.1294117647);
}
body .services_section .accordion .accordion-item .accordion-button {
  box-shadow: none !important;
  background: transparent !important;
  color: #fff !important;
}
body .services_section .accordion .accordion-item .accordion-button::after {
  background: #fff;
  height: 16px;
  width: 1px;
  right: 28px;
  position: absolute;
  transition: 0.3s ease-in-out;
}
body .services_section .accordion .accordion-item .accordion-button::before {
  content: "";
  background: #fff;
  height: 1px;
  width: 16px;
  margin-left: auto;
  flex-shrink: 0;
  right: 20px;
  position: absolute;
}
body .services_section .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  width: 16px !important;
  height: 1px !important;
  right: 20px !important;
}
body .services_section .accordion .accordion-item .accordion-body {
  background: transparent !important;
  color: #fff !important;
}
body .services_section .img {
  width: 100%;
}
body .services_section .img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
body .linkedin_section {
  padding: 60px 0;
}
body .linkedin_section .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .linkedin_section .header h2 {
  color: #fff;
  text-align: center;
  text-wrap: balance;
  font-size: 32px;
}
body .linkedin_section .header h2 span {
  color: #7e98fd;
}
body .linkedin_section .header a {
  background: #7e98fd;
  color: #fff;
  padding: 8px 24px;
  border-radius: 50px;
}
body .linkedin_section .linkedin_swiper .swiper-wrapper {
  transition-timing-function: linear;
}
body .linkedin_section .linkedin_swiper .feed {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
body .linkedin_section .linkedin_swiper .feed img,
body .linkedin_section .linkedin_swiper .feed video {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}
body .linkedin_section .linkedin_swiper .feed .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7215686275);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
body .linkedin_section .linkedin_swiper .feed .link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
body .linkedin_section .linkedin_swiper .feed .link i {
  color: #0f2133;
  font-size: 20px;
}
body .linkedin_section .linkedin_swiper .feed:hover .link {
  opacity: 1;
}
body .linkedin_section .linkedin_swiper .feed:hover img {
  transform: scale(1.1);
}
body .testimonials_section {
  padding: 60px 0;
}
body .testimonials_section .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .testimonials_section .header h2 {
  color: #fff;
  text-align: center;
  text-wrap: balance;
  font-size: 32px;
}
body .testimonials_section .header h2 span {
  color: #7e98fd;
}
body .testimonials_section .header .swiper_navigation {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .testimonials_section .header .swiper_navigation button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.3s ease-in-out;
}
body .testimonials_section .header .swiper_navigation button:hover {
  background: #7e98fd;
  border-color: #7e98fd;
  color: #fff;
}
body .testimonials_section .call_wrapper {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-image: url("/images/call.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 24px;
}
body .testimonials_section .call_wrapper span {
  color: #fff;
}
body .testimonials_section .call_wrapper h4 {
  font-size: 32px;
  color: #fff;
}
body .testimonials_section .call_wrapper .customBtn {
  border-color: #fff;
  color: #fff;
  border-radius: 100px;
}
body .testimonials_section .call_wrapper .customBtn::after {
  background: #fff;
}
body .testimonials_section .call_wrapper .customBtn:hover {
  color: #7e98fd;
}
body .testimonials_section .swiper-slide {
  height: auto;
}
body .testimonials_section .feedback_card {
  border-radius: 16px;
  padding: 32px;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.1294117647);
  height: 100%;
  width: 100%;
  display: flex;
  padding: 32px;
  flex-direction: column;
  gap: 32px;
}
body .testimonials_section .feedback_card .rate {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #7e98fd;
}
body .testimonials_section .feedback_card p {
  color: #fff;
}
body .testimonials_section .feedback_card .user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}
body .testimonials_section .feedback_card .user img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .testimonials_section .feedback_card .user .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body .testimonials_section .feedback_card .user .info h4 {
  font-size: 18px;
  color: #fff;
}
body .testimonials_section .feedback_card .user .info h6 {
  color: #fff;
  font-size: 14px;
}
body .actions_section {
  padding: 60px 0;
}
body .actions_section .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  max-width: 660px;
}
body .actions_section .header h2 {
  color: #fff;
  text-align: center;
  text-wrap: balance;
  font-size: 32px;
}
body .actions_section .header h2 span {
  color: #7e98fd;
}
body .actions_section .header p {
  color: #fff;
  text-align: center;
}
body .actions_section .program_card {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}
body .actions_section .program_card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .actions_section .program_card .program_link {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  padding: 16px;
  border-radius: 12px;
  background: #fff;
}
body .actions_section .program_card .program_link h6 {
  color: #0f2133;
  margin: 0;
  font-size: 20px;
}
body .actions_section .program_card .program_link p {
  padding-top: 8px;
  font-size: 14px;
  color: #666b88;
  margin: 0;
}
body .actions_section .program_card .program_link .hiddenText {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}
body .actions_section .program_card:hover .hiddenText {
  max-height: 10rem;
}
body .aboutImage {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
body .aboutImage:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7e98fd;
  z-index: -1;
  animation: border-transform-default-two 10s linear infinite alternate forwards;
}
body .aboutImage img {
  animation: border-transform-default 10s linear infinite alternate forwards;
  width: 85%;
}
@keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes border-transform-default-two {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  28% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  70% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
body footer {
  padding-top: 60px;
  background: #e5eaff;
  position: relative;
  background-image: url("/images/bg_5.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
body footer .news_letter {
  padding: 60px 0;
}
body footer .news_letter p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin-bottom: 8px;
}
body footer .news_letter p span {
  color: #7e98fd;
}
body footer .news_letter h3 {
  color: #fff;
  margin-bottom: 24px;
  font-size: 24px;
  text-align: center;
}
body footer .news_letter form {
  width: min(100%, 600px);
  margin: 0 auto;
  display: flex;
  gap: 12px;
  border-radius: 100px;
  padding: 4px;
  padding-inline-start: 24px;
  border: 1px solid #fff;
}
body footer .news_letter form input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  color: #fff;
}
body footer .news_letter form button {
  padding: 12px 24px;
  background: #fff;
  color: #0f2133;
  border-radius: 100px;
  transition: 0.3s ease-in-out;
}
body footer .news_letter form button:hover {
  background: #7e98fd;
  color: #fff;
}
body footer .logo {
  display: flex;
  gap: 12px;
}
body footer .logo span {
  width: 1px;
  display: block;
  background: #fff;
}
body footer .logo img {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
body footer .social_media {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 42px;
}
body footer .social_media a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a2e36;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
body footer .social_media a:hover {
  background: #7e98fd;
  border-color: #7e98fd;
  color: #fff;
  transform: translateY(-4px);
}
body footer .copy_rights {
  margin-top: 32px;
  padding: 16px 0;
  border-top: 1px solid #2a2e36;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  body footer .copy_rights {
    flex-direction: column-reverse;
    gap: 12px;
  }
}
body footer .copy_rights h6 {
  font-size: 16x;
  color: #fff;
}
body footer .copy_rights a {
  color: #fff;
  transition: 0.3s ease-in-out;
  font-size: 16px;
}
body footer .copy_rights a:hover {
  color: #7e98fd;
}
body footer .copy_rights .links {
  display: flex;
  align-items: center;
  gap: 16px;
}
body footer .footer_title {
  color: #fff;
  margin-bottom: 32px;
  font-size: 28px;
  position: relative;
}
body footer .footer_title::after {
  content: "";
  height: 1px;
  width: 100px;
  background: radial-gradient(90% 100% at 0% 50%, #7e98fd 0%, rgba(238, 238, 238, 0) 100%);
  position: absolute;
  bottom: -12px;
  left: 0;
}
@media screen and (max-width: 576px) {
  body footer .footer_title {
    margin-top: 32px;
  }
}
body footer .footer_links {
  display: flex;
  flex-wrap: wrap;
}
body footer .footer_links .footer_link {
  min-width: 170px;
}
body footer .footer_link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  transition: 0.3s ease-in-out;
  margin-bottom: 16px;
}
body footer .footer_link:hover {
  color: #7e98fd;
}
body.ar {
  direction: rtl;
  font-family: "baloo" !important;
}
body.ar .home_section .content .customBtn i {
  transform: scale(-1);
}/*# sourceMappingURL=main.css.map */